version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4124:80" 
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db

  db:
    image: mariadb:10.5
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root_password_rahasia
      MYSQL_DATABASE: laundry_app
      MYSQL_USER: user_db
      MYSQL_PASSWORD: password_db
    ports:
      - "3307:3306" 
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8989:80" 
    environment:
      PMA_HOST: db
    depends_on:
      - db

volumes:
  db_data: